<% include common/header %>
<div>
   <ul>
        <% listdata.map(function (item,index) {%>
            <li>
                <%= item.name %>
            </li>
            <% })%>
    </ul>
    <img src="/assets/images/img1.png" />
</div>